@page
@model Portal.Web.Areas.Admin.Pages.Products.CreateModel

@{
    ViewData["Title"] = "ایجاد محصول جدید";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" class="p-3" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <select asp-for="Product.CategoryId" class="form-control"
                        asp-items="@Model.CategorySelectList">
                    <option>Please select one</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <textarea asp-for="Product.Description" class="form-control"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>




            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                فعال
                <input class="form-check-input" asp-for="Product.Active" />

            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary w-25" />
                <a asp-page="Index">بازگشت به لیست</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
