
    <div class="list-group">
        <a href="#" class="list-group-item active">
            پنل مدیریت
        </a>

        <a asp-page="/index" asp-area="admin" class="list-group-item"><strong>داشبورد</strong></a>
        <a asp-page="/users/index" asp-area="admin" class="list-group-item">کاربران</a>
        <a asp-page="/Categories/index" asp-area="admin" class="list-group-item">دسته بندی ها</a>
        <a asp-page="/Menu/index" asp-area="admin" class="list-group-item">منوها</a>
        <a asp-page="/Blog/index" asp-area="admin" class="list-group-item">بلاگ</a>
        <a asp-page="/Products/index" asp-area="admin" class="list-group-item">فروشگاه</a>
        <a asp-page="/Docs/index" asp-area="admin" class="list-group-item">فایلها</a>
        <a asp-page="/webpages/index" asp-area="admin" class="list-group-item">صفحات</a>

    </div>